body{
  margin: 0;
  padding: 0;
background-image: url('../images/s8.png');
background-size: cover;
}

ul{
  display: flex;
  justify-content: space-around;

    li{
      list-style: none;
      a{
        text-decoration: none;
      }
    }
}
.titre{
  text-align: center;
  p{
    text-transform: uppercase;
  }
}

.bigshow{
  display: flex;
  justify-content: space-around;

}
.colonne1{
    display:inline ;
    justify-content: space-around;
}
// formulaire
.first_one{
  background-color: rgba(13, 0, 0,0.50);
	width: 100%;
	height: 100%;
	display: inline-block;
	justify-content: center;
	align-items: center;
	 position: absolute;
	 z-index: -1;
	 opacity: 0;

}
#messi:target{
  z-index: 2;
  opacity: 1;
  transition-duration: 2s;
  display:flex;
  align-items: center;
  justify-content: space-around;
      .msn{
          float:left;
          border: 3px solid white;
          padding: 7px;
          border-radius: 5px;
      }
      .borgia{
           border:2px solid white;
           border-radius: 5px;
           padding: 7px;
      }
      label{
           display:inline-block;
            width: 100px;
      }
      h2{
        text-align: center;
      }
}
#close{


}

// fin du formulaire
nav{
  background-color: black;
  margin-top: 0px;
  border-radius:2px;
  color:white;
}
